@using DapperExample.Entities
@model TodoItem
@{
    ViewData["Title"] = "UpdateTodo";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<p class="card-description"> Yeni Yapılacak Ekleme Paneli </p>
			<form class="form-group" method="post">
				@Html.HiddenFor(x=>x.Id,new {@class="form-control"})
				<br />
				<label>Başlık</label>
				@Html.TextBoxFor(x=>x.Title,new {@class="form-control"})
				<br />
				<label>Açıklama</label>
				@Html.TextBoxFor(x=>x.Description,new {@class="form-control"})
				<br />
				<button class="btn btn-primary">Güncelle</button>
			</form>
		</div>
	</div>
</div>
<a href="/ToDo/Index/" class="btn btn-info">Ana sayfaya dön</a>

